@model Pokemon_Battle_Sim_V2.Models.PokeBasic

<h2>Pokemon Details</h2>
<img src=@($"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{Model.ID}.png") alt="front_default"/>
<p>Name: @Model.Name</p>
<p>ID: @Model.ID</p>
<p>Level: @Model.Level</p>
<p>Nature: @Model.Nature</p>
